@import 'tailwindcss';
@import 'tw-animate-css';
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300..800&display=swap');

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans:
    'Manrope', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  @apply bg-black dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --background: oklch(0.1467 0.0041 49.31);
  --foreground: oklch(0.9845 0.0013 106.42);

  --card: oklch(0.1467 0.0041 49.31);
  --card-foreground: oklch(0.9845 0.0013 106.42);

  --popover: oklch(0.1467 0.0041 49.31);
  --popover-foreground: oklch(0.9845 0.0013 106.42);

  --primary: oklch(0.6455 0.1943 41.08);
  --primary-foreground: oklch(0.9845 0.0013 106.42);

  --secondary: oklch(0.2685 0.0063 34.3);
  --secondary-foreground: oklch(0.9845 0.0013 106.42);

  --muted: oklch(0.2685 0.0063 34.3);
  --muted-foreground: oklch(0.7159 0.009 56.26);

  --accent: oklch(0.2685 0.0063 34.3);
  --accent-foreground: oklch(0.9845 0.0013 106.42);

  --destructive: oklch(0.5771 0.2151 27.32);
  --destructive-foreground: oklch(0.9845 0.0013 106.42);

  --border: oklch(0.2685 0.0063 34.3);
  --input: oklch(0.2685 0.0063 34.3);

  --ring: oklch(0.6455 0.1943 41.08);

  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.1467 0.0041 49.31);
  --foreground: oklch(0.9845 0.0013 106.42);

  --card: oklch(0.1467 0.0041 49.31);
  --card-foreground: oklch(0.9845 0.0013 106.42);

  --popover: oklch(0.1467 0.0041 49.31);
  --popover-foreground: oklch(0.9845 0.0013 106.42);

  --primary: oklch(0.6455 0.1943 41.08);
  --primary-foreground: oklch(0.9845 0.0013 106.42);

  --secondary: oklch(0.2685 0.0063 34.3);
  --secondary-foreground: oklch(0.9845 0.0013 106.42);

  --muted: oklch(0.2685 0.0063 34.3);
  --muted-foreground: oklch(0.7159 0.009 56.26);

  --accent: oklch(0.2685 0.0063 34.3);
  --accent-foreground: oklch(0.9845 0.0013 106.42);

  --destructive: oklch(0.5771 0.2151 27.32);
  --destructive-foreground: oklch(0.9845 0.0013 106.42);

  --border: oklch(0.2685 0.0063 34.3);
  --input: oklch(0.2685 0.0063 34.3);

  --ring: oklch(0.6455 0.1943 41.08);

  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* typography */
  --micro-regular: 11px;
  --micro-medium: 11px;
  --mini-regular: 12px;
  --mini-medium: 12px;
  --small-regular: 13px;
  --small-medium: 13px;
  --normal-regular: 15px;
  --normal-medium: 15px;
  --large-regular: 18px;
  --large-medium: 18px;
  --title3-regular: 20px;
  --title3-medium: 20px;
  --title2-regular: 24px;
  --title2-medium: 24px;
  --title1-regular: 36px;
  --title1-medium: 36px;

  /* font weight  */
  --fw-regular: 400;
  --fw-medium: 500;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}
